TYPEORM_CONNECTION = sqlite
TYPEORM_DATABASE = database.sqlite
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = .build/entities/**/*.js
REGION=eu-north-1
STAGE=local
SLS_DEBUG=*
VER_SENDER=your@email.com
VER_RECIPIENT=your@email.com
PW_RESET_LINK_PAGE="http://localhost:8080/password/reset"
AUTO_VERIFY_MAIL=true
AUTO_SEND_PASSWORD_RESET_ID=true
JWT_SECRET=pick_a_good_secret_for_yourself