dist
coverage
node_modules
database.sqlite
test.sqlite
.serverless
.env.localdev
.env.local
.env.development
.env.staging
.env.production
.tmp.*
.DS_Store
.AppleDouble
.LSOverride
git_notes
git-history-mod.sh
